# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Lab Documents & Reports
*.docx
docs/
images/

# Frontend build output
frontend/dist/

# Editor files
.vscode/
.idea/
*.swp
*.log
